.news{
    &__header{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        background-image: url('../../assets/images/backgrounds/navbar-bg.jpg');
        h2{
            text-transform: capitalize;
            color: #faebd7;
            font-size: 23px;
        }
    }
    &__body{
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 15px;
        background-image: url('../../assets/images/backgrounds/news-body-bg.jpg');
        &__image-block{
            max-width: 200px;
            max-height: 200px;
            text-align: center;
        }
        &__text-block{
            h4{
                margin-bottom: 15px;
                text-transform: capitalize;
            }
            p{
                text-transform: capitalize;
            }
        }
    }
}