<div class="news">
  <div class="news__header">
    <h2>text</h2>
  </div>
  <div class="news__body">
    <div class="news__body__image-block">
      <img class="golden-border-image" src="./assets/images/news/akali-news.jpg" alt="">
    </div>
    <div class="news__body__text-block">
      <h4>Atention atention atenton</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores iusto nemo reiciendis qui quisquam sed, maiores impedit dolores quas earum culpa iure libero voluptas facilis cupiditate officia accusamus magni! Ducimus?</p>
    </div>
  </div>
</div>